* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  width: 100vw;
  height: 100%;
}

#root {
  background-color: rgba(0, 0, 0, 0.929);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
}
